{{#each ideas}}
  <div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p class="lead">{{details}}</p>
    <a href="/ideas/edit/{{_id}}/{{slug}}" class="btn btn-dark btn-block mb-2">Edit</a>
    <form method="post" action="/ideas/{{_id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete" class="btn btn-danger btn-block">
    </form>
  </div>
{{else}}
  <p class="lead">No video ideas listed</p>
{{/each}}
